@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .section {
    padding: 100px 0;
  }
  /* about */

  .about-list {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 30px;
  }

  .container.about {
    display: flex;

    gap: 30px;
  }

  .about-item-img {
    width: 330px;
  }

  /* services */

  .service-table-mob {
    font-size: 18px;
    line-height: 1.67;
  }

  .service-table-row {
    gap: 12px;
  }

  .section-title {
    font-size: 42px;
  }

  /* advantages */

  .advantages-content {
    max-width: 500px;
  }

  .advantages-list {
    margin-left: auto;
  }

  .advantages-list {
    max-width: 450px;
  }
  .advantages-item {
    width: 210px;
    padding: 20px 44px;
  }

  /* our barbers */

  .barbers > .container {
    max-width: 450px;
  }

  /* gallery */

  .gallery-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .gallery-item {
    flex-basis: calc((100% - 30px) / 2);
  }

  /* contacts  */
  .horizontal-form {
    flex-direction: row;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contacts-wrapper {
    display: flex;
    gap: 90px;
  }
}
